*.o
*.a
.cache/
.vs/
.vscode/
.DS_Store

.build/
build/
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*

/main
/quantize
/quantize-stats
/result
/perplexity
/embedding
/embeddings-benchmark
/embeddings-server
/benchmark-q4_0-matmult
/Pipfile

arm_neon.h
compile_commands.json

.envrc
.direnv/

.venv
__pycache__
.swiftpm

zig-out/
zig-cache/

model_creation/output
model_creation/tmp-output

error_logs.txt